Source: ros-dashing-rosidl-typesupport-connext-c
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake, ros-dashing-ament-lint-auto, ros-dashing-ament-lint-common, ros-dashing-connext-cmake-module, ros-dashing-rosidl-cmake, ros-dashing-rosidl-generator-c, ros-dashing-rosidl-typesupport-connext-cpp, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-rosidl-typesupport-connext-c
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-ament-cmake, ros-dashing-connext-cmake-module, ros-dashing-rcutils, ros-dashing-rmw, ros-dashing-rosidl-cmake, ros-dashing-rosidl-generator-c, ros-dashing-rosidl-generator-dds-idl, ros-dashing-rosidl-parser, ros-dashing-rosidl-typesupport-connext-cpp, ros-dashing-ros-workspace
Description: Generate the C interfaces for RTI Connext.
